<form class="wcontent d-flex align-items-center mx-auto w-50" action="/increment" method="POST">
    <div class="w-100 mx-auto">
        <h1 class="text-center mb-3">Enter the Token</h1>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        <button href="/auth" class="mt-2 d-block mx-auto w-100 btn btn-success">
            Submit
        </button>
    </div>
</form>